@keyframes navBarAppear {
	from {
		bottom: -50px;
	}
	to {
		bottom: 0px;
	}
}

@keyframes noticeBarMove {
	from {

	}
	to {
		bottom: 19px;

	}
}

.chat-ment {
	margin-left: 15px;
	margin-top: 5px;
	color: rgb(141, 141, 141);
	font-size: 15px;
}

.chat2 {
	margin-left: auto;
}

.chat-time {
	font-size: 14px;	
	color: gray;
}