.title {
  font-size: 32px;
  font-weight: bold;
}

.row {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.row-right {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.fa-magnifying-glass,
.fa-music,
.fa-comment-medical,
.fa-gears {
  margin-left: 20px;
  cursor: pointer;
}
