@import "css/header.css";
@import "css/main-content.css";
@import "css/footer.css";

div {
  width: 250px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(175, 229, 251);
  height: 100vh;
  margin: 0;
}
