@keyframes badge {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-4px);
  }
}

.icon-row__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: badge 1s infinite alternate;
}
