*{
    box-sizing: border-box;
}
.all{
    width:700px;
    border: 2px solid black;
    margin: 0 auto;
}
.p{
    width: 20px;
    height: 30px;
    margin: 0 5px;
}
.prtfolo_txt{
    margin: 0;
    padding: 10px;
}
.prtfolo{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 35px;
    box-shadow: 0px 0px 0px rgb(0, 0, 0.5);
}
.top{
    background-color:rgb(98, 110, 214);
    text-align: center;
}
.name{
    margin-top: 20px;
    margin-bottom: 10px;
}
.job{
    margin-top: 0;
    margin-bottom: 20px;
}
.pngs{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile{
    padding: 30px 50px 30px 50px;
}
.profile_txt{
    color:rgb(98, 110, 214);
    margin: 0;
    padding-left: 3px;
}

.stack{
    background-color:rgb(98, 110, 214);
    padding: 20px 50px;
}
.stack_txt{
    color: white;
    margin: 0;
    padding-left: 5px;
}
.stack_property{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 10px 5px 10px 5px;
}
footer{
    text-align: center;
    margin: 10px;
}
hr{
    margin: 0;
    padding: 0;
}

