.user-component,
.user-component_column:first-child {
    display: flex;
    width: 100%;
    align-items: center;
}

.user-component_img {
    width: 70px;
    height: 70px;
    border-radius: 27px;
    margin: 10px 20px 20px 25px;
}

.user-component_title {
    font-size: 22px;
    font-weight: bolder;
}
.user-component_subtitle {
    margin-top: 5px;
    font-size: 15px;
    color: gray;
}

.user-component_title2 .user-component_column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
