*{
    box-sizing: border-box;
}
.all{
    width: 500px;
    margin: auto;
}
.lion {
    padding:10px;
    background-color: skyblue;
    text-align: center;
}
.git {
    padding:0.1px;
    background-color: gray;
}
.best {
    padding:10px;
    background-color: skyblue;
    text-align: center;
}
.lionpng {
    margin: 10px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;

}
.movie {
    margin: 10px;
    width: 30px;
}
.github{
    margin: 10px;
    width: 30px;
    background-color: white;
    border-radius: 30px;
}
.just{
    border: 4px solid white;
}