#top-nav > p {
    font-size: 30px;
    font-weight: bolder;
    float: left;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}

#top-nav > i {
    font-size: 20px;
    float: right;
    padding-right: 20px;
    padding-top: 30px;
}