* {
  box-sizing: border-box;
}
div {
  background-color: rgb(173 216 230);
  text-align: center;
  margin: 0 auto;
}

.lion {
  margin: 10px;
  width: 200px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.text {
  padding: 20px;
}
