.chat_screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.chat_screen_list {
    display: flex;
    align-items: center;
}

.chat_screen_content1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.user_name {
    font-size: 25px;
    font-weight: bold;
}

.message {
    display: flex;
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}

.chat_screen_content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}
.time {
    font-size: 15px;
    color: gray;
}
.count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    margin-top: 10px;
}