.main_screen > span {
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    font-size: 15px;
    padding: 15px;

}

.main_screen > span i {
    color: gray;
}

.friends_screen_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    padding: 10px;
}

.friends_screen_top > span {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    margin-left: 20px;
}

#profile_img {
    width : 70px;
    height: 70px;
    border-radius: 40%;
    object-fit: cover;
}

hr {
    width: 80vw;
    margin: 10px;
}

.friends_screen_middle {
    display: flex;
    justify-content: space-between;
    color: gray;
    width: 80vw;
    margin-bottom: 20px;
    margin-left: 20px;
}

.friends_screen_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.friends_screen_bottom > p {
    width: 65vw;
    font-size: 20px;
    margin: 0 20px;
} 

.friends_screen_bottom > span {
    display: flex;
    flex-direction: row;
    width: 20vw;
    color: gray;
}

