@keyframes splashscreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}



#splash-screen {
    background-color: #fef01b;
    position: absolute;
    height : 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    animation: splashscreen 1s ease-in-out 0.5s forwards;
}

