@keyframes appearbtn {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav_btn1, .nav_btn2, .nav_btn3, .nav_btn4 {
    opacity: 0;
    animation: appearbtn 1s ease-in-out forwards;
}

.nav_btn2 {
    animation-delay: 0.1s;
}

.nav_btn3 {
    animation-delay: 0.2s;
}

.nav_btn4 {
    animation-delay: 0.3s;
}